/* Здесь будут храниться стили нашего сайта */

body {
	margin: 0;
	font-family: Roboto;
	cursor: default;
}

img {
	max-width: 100%;
}

header {
	padding-top: 59px;
	background-color: #3a7dfd;
	color: #fff;
	padding-bottom: 22px;
}

.header-pretitle {
	font-size: 18px;
	margin-top: 102px;
}

.header-title {
	font-size: 48px;
	font-weight: 700;
	line-height: 46px;
	margin-top: 21px;
	width: 310px;
	border-radius: 5px;
}

.header-title:hover {
	background-color: #fff;
	color: #3a7dfd;
}

.header-subtitle {
	font-size: 18px;
	margin-top: 20px;
}

.header-button {
	display: inline-block;
	text-decoration: none;
	box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
	border-radius: 50px;
	background-color: #ffffff;
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	padding: 17px 55px;
	margin-top: 33px;
	cursor: pointer;
}

.header-button:hover {
	text-decoration: none;
}

.header-button:active {
	padding-top: 18px;
	padding-left: 56px;
	text-decoration: none;
}

small {
	font-size: 12px;
	display: block;
	text-align: center;
	margin-top: 9px;
}

.header-button-block {
	max-width: 210px;
}

/* Секция Портфолио */

.portfolio {
	background-color: #ddd;
	padding-top: 44px;
	padding-bottom: 71px;
}

.portfolio-block {
	background-color: #fff;
	padding-top: 29px;
	padding-bottom: 44px;
}

.portfolio-title {
	text-transform: uppercase;
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}

.portfolio-subtitle {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 14px;
	color: #7bb9ff;
}

.portfolio-title, .portfolio-subtitle {
	text-align: center;
}

.portfolio-col-1 {
	padding-left: 50px;
}

.portfolio-col-2 {
	padding-right: 50px;
}

.portfolio-block h3 {
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 10px;
}

.portfolio-block a {
color: #072b6f;
font-size: 14px;
font-weight: 400;
text-decoration: underline;
}

.portfolio-text {
	color: #8f8f8f;
	font-size: 14px;
	font-weight: 400;
}

/* Оформление футера */

footer {
	background-color: #3a7dfd;
	color: #fff;
	margin-top: 60px;
	margin-bottom: 110px;
	margin: 0;
}

.footer-author {
	font-size: 24px;
	margin-top: 74px;
	margin-bottom: 7px;
}

.footer-text {
	font-size: 18px;
	margin-top: 0;
	color: #deedfe;
}

.social-block {
	margin-top: 60px;
	margin-bottom: 110px;
	text-align: center;
}

.social-block a {
	display: inline-block;
	margin-left: 13px;
	margin-right: 13px;
}

.footer-cta-block {
	margin-top: 61px;
	text-align: center;
	margin-bottom: 112px;
}

.footer-cta {
	margin-bottom: 13px;
}

.footer-button {
	display: inline-block;
	text-decoration: none;
	border-radius: 50px;
	border: 1px solid #ffffff;
	background-color: transparent;
	color: #fff;
	font-size: 18px;
	padding: 12px 40px;
	cursor: pointer;
}

.footer-button:hover {
	text-decoration: none;
	background-color: #fff;
	color: #072b6f;
	font-weight: 700;
}


@media (max-width: 1200px) {
	.header-pretitle {
	margin-top: 60px;
}
}

@media (max-width: 992px) {

	.header-img {
		display: none;
	}

	.header-pretitle {
	margin-top: 10px;
	}
	
	.footer-author {
		font-size: 18px;
	}

	.footer-text {
		font-size: 14px;
	}

	.social-block a {
		margin-left: 5px;
		margin-right: 5px;
	}

	.social-block a {
		margin-left: 5px;
		margin-right: 5px;
	}

	.social-block img {
		width: 30px;
	}

	.footer-button {
		font-size: 14px;
		padding: 8px 35px;
	}
}

@media (max-width: 762px) {
	.portfolio-col-1 {
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 40px;
	}

	.portfolio-col-2 {
		padding-left: 20px;
		padding-right: 20px;
	}

	.footer-author, .footer-text {
		text-align: center;
	}

	.social-block {
		margin-top: 50px;
		margin-bottom: 0px;
	}
}